{% extends 'base_generic.html' %}
{% block content %}

{% block title %} <title>Home</title> {% endblock title %}
<h1 class="my-5">Welcome</h1>

<div id="app" class="container">
  <!--Modal-->

<!-- Modal -->
<div class="modal fade" id="modalCheckin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCheckinLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCheckinLabel">Registrar <span v-if="check_in">check-in</span><span v-if="check_out">check-out</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se va a registrar la <span v-if="check_in">entrada</span><span v-if="check_out">salida</span> con fecha [[ fecha ]] y hora [[ hora ]]</p>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <div v-if="check_in">
           <form action="{% url 'new-date-form' %}" method="post">
            {% csrf_token %}
            <input hidden type="text" name="userId" value="{{user.id}}">
            <input hidden type="text" name="projectId" :value="id_project_selected">
            <input hidden type="text" name="projectName" :value="project_selected">
            <input hidden type="date" name="registroFecha" :value="fecha">
            <input hidden type="time" name="registroHora":value="hora">
            <button type="submit" class="btn btn-primary">Confirm check-in</button>
          </form>
        </div>

        <div v-if="check_out">
          <form action="{% url 'check-out-form' %}" method="post">
           {% csrf_token %}
           <input hidden type="text" name="userId" value="{{user.id}}">
           <input hidden type="text" name="projectId" :value="id_project_selected">
           <input hidden type="text" name="projectName" :value="project_selected">
           <input hidden type="date" name="registroFecha" :value="fecha">
           <input hidden type="time" name="registroHora":value="hora">
           <button type="submit" class="btn btn-primary">Confirm check-out</button>
         </form>
       </div>
       
      </div>
    </div>
  </div>
</div>
  <!-- fin modal -->

    <div v-if="!check_in && !check_out" class="row row-cols-md-2 row-cols-1">
       <div class="col">
            <div class="card bg-success" @click="geolocalizar(); check_in=true; check_out=false">             
                {% load static %}
                <img src="{% static 'images/checkin.jpg' %}" width='100%' class="card-img-top" >
                <div class="card-body">
                    <p class="card-text text-center fw-bold">Check-in</p>
                </div>
              </div>
        </div>
        <div class="col mt-5 mt-md-0">
            <div class="card bg-warning" @click="geolocalizar(); check_in=false; check_out=true">
                {% load static %}
                <img src="{% static 'images/checkout.jpg' %}" width='100%' class="card-img-top" >
                <div class="card-body">
                  <p class="card-text text-center fw-bold">Check-out</p>
                </div>
              </div>
        </div>
    </div>
    <div v-if="check_in || check_out" >
      <h1 v-if="check_in" class="my-5">Realizar CHECK-IN</h1>
      <h1 v-if="check_out" class="my-5">Realizar CHECK-OUT</h1>
      <span class="btn btn-outline-primary" @click="check_in=false; check_out=false">Atrás</span>
      
      <!-- las siguientes dos línes se les puede quitar el hidden para ver un mapa en el que se muestra dónde nos ha ubicado -->
      <p hidden> Posicion aproximada: </p>
      <div hidden class="mx-auto" id="mapcanvas" style="width:280px; height:400px"></div>


      <div v-if="project_around.length>0" class="mt-5 text-center">
              <!-- * proyectos * -->
        <p class="text-center">Selecciona el proyecto cercano para hacer <span v-if="check_in">check-in</span><span v-if="check_out">check-out</span></p>
     <!-- <a href="{% url 'new-date' '[[fecha]]' 'carlos' %}"> </a> -->  
        <proyecto
        v-for="project in project_around"
        class="row mb-3 mx-auto"
        v-bind:class="{ 'bg-danger': check_out, 'bg-success': check_in }"
        v-bind:datos="project"
        v-bind:key="project.name"
      ></proyecto>

   
       
    </div>

    <div v-else>
      <p>No hay proyectos cercanos a los que acceder</p>
    </div>
    </div>
        

    
    <!--termina el app-->
</div>


     <!-- empiezan las templates -->
  <!-- * proyecto * -->
  <script type="text/x-template" id="proyecto-template">
    <button class="card w-100" v-on:click="guardarhora(datos.name, datos.id)" type="button" data-bs-toggle="modal" data-bs-target="#modalCheckin">
        <div class="card-body p-0">
            <p class="card-text mb-0 w-100">[[datos.name]]</p>
            <p class="card-text text-warning w-100">[[datos.address]]</p>
          </div>
        </button>
  </script>

{% load static %}
<script src="{% static 'js/geo.js' %}"></script>

  <!-- -->

{% endblock content %}
