{% extends "base_generic.html" %}
{% block content %}

    <h1>Renew: {{bookinst.book.title}}</h1>
    <p>Borrower: {{bookinst.borrower}}</p>
    <p{% if bookinst.is_overdue %} class="text-danger"{% endif %}>Due date: {{bookinst.due_back}}</p>

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        {{ form.as_ul}}
        {{form.as_p}}
        {{form.as_table}}
        <!--
            {{form.renewal_date}}: The whole field.
{{form.renewal_date.errors}}: The list of errors.
{{form.renewal_date.id_for_label}}: The id of the label.
{{form.renewal_date.help_text}}: The field help text.
        -->
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
