{% extends 'base_generic.html' %}

{% block content %}
{% block title %} <title>Projects</title> {% endblock title %}  
<h1 class="mt-5">Projects list</h1>
<a href="{% url 'project_create' %}" class="btn btn-success my-5">Create new project</a>
{% if project_list %}
<ul>
    {% for project in project_list  %}
    <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a> ({{ project.city }}) - {{project.factured}} </li>
    
    {% endfor %}
</ul>
{% else %}
<p>There are no projects registered</p>
{% endif %}
{% endblock content %}
