{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    <form class="mt-5" action="" method="post">
        {% csrf_token %}
        <table class="table">
        {{ form.as_table }}
        </table>
        <input class="btn btn-success form-control" type="submit" value="Submit" />
    
    </form>
</div>
<!--  -->


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- playground-hide -->
    <script>
      const process = { env: {} };
      process.env.GOOGLE_MAPS_API_KEY =
        "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg";
    </script>
    <!-- playground-hide-end -->



    <div class="mt-5 mapLatLng" id="map"></div>

    <script>
        function initMap() {
  const myLatlng = { lat: 37.82753843723627, lng: -0.7792248183012629 };

  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 15,
    center: myLatlng,
  });

  // Create the initial InfoWindow.
  let infoWindow = new google.maps.InfoWindow({
    content: "Click the map to set Latitude and Longitude of the new project",
    position: myLatlng,
  });

  infoWindow.open(map);

  // Configure the click listener.
  map.addListener("click", (mapsMouseEvent) => {
    // Close the current InfoWindow.
    infoWindow.close();

    // Create a new InfoWindow.
    infoWindow = new google.maps.InfoWindow({
      position: mapsMouseEvent.latLng,
    });
    infoWindow.setContent(
      JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
    );
    infoWindow.open(map);
    console.log(infoWindow.content)
    let response = JSON.parse(infoWindow.content);
    latlong = response.lat + ', ' + response.lng;
    document.getElementById('id_lat_long').value = latlong;
  });

}

window.onload = initMap;
    </script>


<!--  -->
{% endblock %}
