{% extends 'base_generic.html' %}

{% block content %}
{% block title %} <title>{{ useres.first_name }} {{ useres.last_name }}</title> {% endblock title %}
<div class="container">

  <h1 class="mt-5">{{ useres.first_name }} {{ useres.last_name }}</h1>

  <p><b>DNI: </b> {{useres.dni}} </p>
  <p><b>Email: </b> {{useres.email}} </p>
  <p><b>Job: </b> {{useres.job}} </p>

  <hr>
  <h2>Project contributions</h2>

  <div id="appContrib">
    <table v-if="selected.length>0" class="table table-warning">
      <tr>
        <th>Project name</th>
        <th>City</th>
        <th>Total Hours</th>
      </tr>
      <tr v-for="project in selected">
        <td>[[project.name]]</td>
        <td>[[project.city]]</td>
        <td>[[project.worked]]</td>
      </tr>
    </table>
    <div v-else class="alert alert-warning" role="alert">
      <i class="bi bi-info-circle-fill"></i> This employee has not participated in any project.
    </div>
  </div>
  {% for time in useres.times_set.all %}
    <p hidden name = "project_id">{{time.project_id_id}}</p>
    <p hidden name = "project_name">{{time.project_id}}</p>
    <p hidden name="worked_hours">{{time.worked_hours}}</p>
  {% endfor %}

</div>


<script>
  let vue = new Vue({
  el: "#appContrib",
  delimiters: ["[[", "]]"],
  data: {
    worked_hours: new Array(),
    projects_id: new Array(),
    project_names: new Array(),
    projects: new Array(), //lleno con un array de objetos con los proyectos
    selected: [],
  },

  mounted() {
    document.getElementsByName('worked_hours').forEach(element => {
    let hours = element.textContent;
    if (hours == 'None'){
      hours = 0;
    }else{
      hours = parseFloat(hours);
    }
    this.worked_hours.push(hours); 
  });
  document.getElementsByName('project_id').forEach(element =>{
    this.projects_id.push(parseInt(element.textContent));
  });
  document.getElementsByName('project_name').forEach(element =>{
    this.project_names.push(element.textContent);
  });
  // let selected = new Array();
  axios.get("api/projects")
      .then((response) =>{
        this.projects = response.data;
        console.log('proyectos axios ', this.projects);
        this.projects = this.projects.map((element)=>{
          if (this.projects_id.indexOf(element.id)>=0){
            element.worked = 0;
            this.selected.push(element);
          }
        });
      
        console.log('seleccionados', this.selected);
        //Recorro los proyect_id
        for (let i = 0; i < this.projects_id.length; i++) {
          let pos = this.selected.findIndex(
            (element) => element.id === this.projects_id[i]
          );
          console.log(pos)
          this.selected[pos].worked += this.worked_hours[i];
        }
        console.log('así queda el objeto', this.selected)
      })
      .catch((error) => console.log(error));
 
  console.log('id', this.projects_id, 'names', this.project_names, 'hours', this.worked_hours);
  },
  methods: {
   
  
  },
});
</script>
{% endblock content %}

