{% extends 'base_generic.html' %} {% block content %} {% block title %}
<title>Employees</title> {% endblock title %}
<h1>Workers list</h1>

{% if useres_list %}
<div id="app" class="container">
  <div class="col-lg-6 form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" v-model="name" />
  </div>
  <div class="col-lg-6 form-group">
    <label>Apellidos</label>
    <input type="text" class="form-control" v-model="last_name" />
  </div>
  <div class="col-lg-6 form-group">
    <label>Job</label>
    <input type="text" class="form-control" v-model="job" />
  </div>
  <div class="col-lg-6 form-group">
    <label>Buscar</label>
    <input
      placeholder="Buscar..."
      type="text"
      class="form-control"
      v-model="kword"
    />
  </div>
<p>[[kword]]</p>
  <table class="table table-primary table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Profile</th>
        <th scope="col">Last name</th>
        <th scope="col">First name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in useres_list %}
      <tr class="align-middle">
        <td>{{user.username}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.email}}</td>
        <td>    
          <span><a class="btn btn-outline-danger"
            href="{% url 'user_delete' user.worker_id %}"
            >Delete user</a
          >
          <a
            class="btn btn-outline-info"
            href="{% url 'user_update' user.worker_id %}"
            >Update user</a
          ></span
        ></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>There are no workers registered</p>
{% endif %}
<!--
{% block vue %} {% load static %}
<script src="{% static 'js/worker_search.js' %}"></script>
{% endblock vue %} 
-->


{% endblock content %}
