{% extends 'base_generic.html' %} {% block content %} {% block title %}
<title>Employees</title> {% endblock title %}
<h1 class="mt-5">Workers list</h1>

{% if messages%}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <span><i class="bi bi-check-all"></i> User created correctly. User must create a password throught the link sent by email</span>
  </div>
  {% endfor %}
{% endif %}

{% if useres_list %}
<div id="app" class="container">

    <a href="{% url 'create_user' %}" class="btn btn-primary my-5">Create new user</a>
    <br>
<div class="table-responsive">
  <table class="table table-primary table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Profile</th>
        <th scope="col">Last name</th>
        <th scope="col">First name</th>
        <th scope="col">Email</th>
        <th scope="col">Job</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in useres_list %}
      <tr class="align-middle">
        <td><a class="btn btn-success" href="{% url 'user_detail' user.worker_id %}">Watch more</a></td>
        <td>{{user.last_name}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.job}}</td>
        <td>    
          <span><a class="btn btn-outline-danger mt-1 w-100"
            href="{% url 'user_delete' user.worker_id %}"
            >Delete user</a
          >
          <a
            class="btn btn-outline-info mt-1 w-100"
            href="{% url 'user_update' user.worker_id %}"
            >Update user</a
          ></span
        ></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


</div>
{% else %}
<p>There are no workers registered</p>
{% endif %}

{% endblock content %}
