body{
    background-color: #DEE5E5;
}
img{
    background-color: transparent;
    background: transparent;
}
@media ( min-width: 1200px ) {
    .container{
        max-width: 1000px !important;  
    }  
} 

.errorlist{
    color: red !important;
}

a, a:hover{
    text-decoration: none !important;
    cursor: pointer;
}

.card, .card:hover {
    cursor: pointer !important;
}

.rounded_logo {
    border-radius: 80%;
}

.mapLatLng{
    height: 800px;
}
