{% extends "base_generic.html" %}
{% block content %}

<div class="container">
    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <p class="mt-5">Put your email here <span>{{ form.email }}</span></p>
        <input class="btn btn-secondary" type="submit" class="btn btn-default btn-lg" value="Reset password" />
        <input class="btn btn-primary" type="submit" class="btn btn-default btn-lg" value="Activate account and create password" />
    </form>
</div>

{% endblock %}
